:root {
    --headercolor: #eef2e2;
    --button: #f8da5b;
    --buttonborder: #247291;
}

* {
    font-family: 'Eczar', serif;
}

html, body {
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #f5f9ee;
}

.header {
    display: flex;
    height: 3em;
    width: 100%;
    align-items:  center;
    justify-content: center;
    font-size: 2em;
    box-shadow: 0 4px 2px -2px rgb(0,0,0,0.5);
    background: var(--headercolor);
    border-radius: 8px;
}

.newbook-cont {
    display: flex;
    margin: 2em;
    align-items: center;
    justify-content: center;
}

.addbook {
    padding: .5em;
    border: solid 3px var(--buttonborder);
    background-color: var(--button);
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: 400;
    transition: 0.5s;
}

.bookcard {
    border: solid 4px rgb(0,0,0,0.5);
    border-radius: 1em;
    padding: 1em;
    background: var(--headercolor);
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
}

.bookcards-cont {
    display: grid;
    grid-template: 200px / 1fr 1fr 1fr ;
    gap: 2em;
    grid-auto-rows: 200px;
}

.addbook:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


  /* The popup form - hidden by default */
.form-popup {
    display: none;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 250px;
    padding: 10px;
    background-color: var(--headercolor);
    position: absolute;
    top: 20em;
    left: 0;
    right: 0;
    margin: auto;
    border: solid 3px black;
    border-radius: 8px;
  }
  
  /* Full-width input fields */
  .form-container input[type=text] {
    width: 90%;
    max-height: 1em;
    padding: 6px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    border:solid 2px black;
    border-radius: .5em;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }

  .submit-btn {
    background-color: var(--button);
    font-size: 1.5em;
    border: solid 3px var(--buttonborder);
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    width: 90%;
    margin-top: 1em;
  }

  .submit-btn:hover {
    background-color: rgb(206, 177, 50)
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



